name: Microstream Auto Update

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

permissions:
  contents: write
  
jobs:
  update-streams:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Update Streams
      run: |
        echo "auto update $(date)" >> streams-seed-01.txt

    - name: Configure Git
      run: |
        git config --local user.name "AhmedPeaRL"
        git config --local user.email "blackpearl88622@gmail.com"

    - name: Commit Changes
      run: |
        git add .
        git commit -m "Auto update microstream batch" || true
        git push
